# Projet Supabase "carte-lum" — Settings > Data API > Project URL
NEXT_PUBLIC_SUPABASE_URL=https://uixcoavsqsfxsmwqyvky.supabase.co
# Settings > API Keys > Publishable key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_chgnjIpJnOdvig4ySkk17g_XMc2QoKE
